<h1> Editando Reserva de Libro</h1>
  <% if @booking.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@booking.errors.count, "error") %> prohibited this booking from being saved:</h2>

      <ul>
        <% @booking.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
<br />
<br />
<%= form_for @booking, url:"/bookings/#{@booking.id}", method:'put' do |f| %>
    <%= f.label 'Libro'%>
    <%= f.select "book_id", options_from_collection_for_select(@books, "id", "name", @booking.book_id)%>
    <br />
    <br />
    <%= f.label 'Usuario' %>
    <%= f.select "user_id", options_from_collection_for_select(@users, "id", "name", @booking.user_id)%>
    <br />
    <br />
    <%= f.label 'Fecha de Inicio' %>
    <%= f.date_field :start_date %>
    <br />
    <br />
    <%= f.label 'Fecha de Fin' %>
    <%= f.date_field :end_date %>
    <br />
    <br />
    <%= f.submit 'Editar Reserva'%>
<% end %>
<br />
<button><a href='/bookings'> Volver a los libros reservados</a></button>
<br />