<%= form_with(model: user) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
        <% user.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label 'Nombre' %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label 'Apellido' %>
    <%= form.text_field :last_name %>
  </div>

  <div class="field">
    <%= form.label 'Telefeno' %>
    <%= form.number_field :phone %>
  </div>

  <div class="field">
    <%= form.label 'Email' %>
    <%= form.text_field :email %>
  </div>

  <div class="field">
    <%= form.label 'Password' %>
    <%= form.password_field :password %>
  </div>

  <div class="field">
    <%= form.label 'Rol' %>
    <%= form.select(:role, options_for_select([ "Admin", "Usuario" ], user.role ? user.role : "Usuario")) %>
  </div>

  <div class="actions">
    <%= form.submit button%>
  </div>
<% end %>
