<p id="notice"><%= notice %></p>
<br />
<h1>Lista de Libros</h1>

<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Isbn</th>
      <th>Autor</th>
      <th>Año de publicación</th>
      <th>Editorial</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @books.each do |book| %>
      <tr>
        <td><%= book.name %></td>
        <td><%= book.isbn %></td>
        <td><%= book.author %></td>
        <td><%= book.year_publication.strftime("%d-%b-%Y") if book.year_publication %></td>
        <td><%= book.editorial %></td>
        <td><button class="button_style" style="background-color:#4ef18f"><%= link_to 'Ver', book %></button></td>
        <% if current_user && current_user.role == "Admin" %>
        <td><button class="button_style" style="background-color:#4e9af1"><%= link_to 'Editar', edit_book_path(book) %></button></td>
        <td><button class="button_style" style="background-color:#f14e4e"><%= link_to 'Eliminar', book, method: :delete, data: { confirm: 'Estas seguro?' } %></button></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br />
<br />
<% if current_user && current_user.role == "Admin" %>
<button><%= link_to 'Agregar Nuevo Libro', new_book_path %></button>
<br />
<br />
<button><%= link_to 'Usuarios', users_path %></button>
<br />
<br />
<% end %>
<button><%= link_to 'Lista de Libros Reservados', bookings_path %></button>
<br />



