body {
  background-color: #fff;
  background: image-url('Background.png');
  background-size: 100% 100%;
  background-attachment: fixed;
  color: #333;
  margin: 33px; }

body, p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px; }

table {
  width: 800px; 
  border: 3px solid #000;
  margin: auto; 
  margin-top: 50px; }

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px; }

a {
  color: #4040ff; }

a:visited {
  color: #4040ff; }

a:hover {
  color: #333; }

th {
  padding-bottom: 5px; }

td {
  padding: 0 5px 7px; }

div.field,
div.actions {
  margin-bottom: 10px; }

#notice {
  color: #2E8B57; }

.field_with_errors {
  margin: auto;
  padding: 2px;
  background-color: red;
  display: table; }

#error_explanation {
  width: 350px;
  border: 2px solid red;
  padding: 7px 7px 0;
  margin: auto;
  margin-bottom: 20px;
  text-align:center;
  background-color: #f0f0f0; }

#error_explanation h2 {
  text-align:center;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px -7px 0;
  background-color: #c00;
  color: #fff; }

#error_explanation ul li {
  font-size: 12px;
  list-style: square; }

label {
  display: block; }

.button_style{
  display:inline-block;
  padding:0.3em 1.2em;
  margin:0 0.1em 0.1em 0;
  background-color: rgba(255,255,255,1);
  border:0.16em solid rgba(255,255,255,0);
  border-radius:2em;
  box-sizing: border-box;
  text-decoration:none;
  text-shadow: 0 0.04em 0.04em rgba(0,0,0,0.35);
  text-align:center;
  transition: all 0.2s; 
  }

  .button_style:hover{
    border-color: #333;
  }

  .button_style a {
    color: #333;
  }

.description {
  display: table;
  height: 50px;
  width: 300px;
  margin: 1rem auto;
  text-align: center;
}
